/* ---------------------------
   POPUP BASE STYLE
---------------------------- */
.modal-content {
  border-radius: 12px !important;
  padding: 10px !important;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
  border: none !important;
}

/* Popup Title */
.forgot-password-title {
  font-weight: 400;
  font-size: 45px;
  color: #1e293b;
  margin-bottom: 20px !important;
}

/* Normal text */
.forgot-password-desc {
  color: #94a3b8;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 25px !important;
}

.forgot-password-label {
  font-size: 18px;
  font-weight: 500;
  color: #1e293b;
  margin-bottom: 8px !important;
}

.forgot-password-input {
  border: 1px solid #cbd5e1 !important;
  color: #1e293b !important;
  background-color: #ffffff !important;
  height: 48px !important;
  border-radius: 8px !important;
}

.forgot-password-input::placeholder {
  color: #475569 !important;
  font-size: 16px;
}

.forgot-password-btn {
  background-color: #19bde8 !important;
  border: none !important;
  height: 50px !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  border-radius: 8px !important;
  margin-top: 10px !important;
  text-transform: uppercase;
}

/* ---------------------------
   INPUT FIELDS
---------------------------- */
.modal-body .form-control {
  border: 1.5px solid #d9d9d9;
  height: 42px;
  font-size: 14px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.modal-body .form-control:focus {
  border-color: #19bde8;
  box-shadow: 0 0 4px rgba(25, 189, 232, 0.4);
}

/* ---------------------------
   BUTTON STYLE
---------------------------- */
.modal-body .btn {
  background-color: #19bde8 !important;
  border: none !important;
  height: 42px;
  font-weight: 600;
  border-radius: 8px;
  letter-spacing: 0.5px;
}

.modal-body .btn:hover {
  background-color: #13a7cd !important;
}

/* Success Popup Center Text */
.modal-body.text-center p {
  font-size: 15px;
  color: #444;
}

/* Error Message */
.alert-danger {
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 6px;
}
